.content1Left {
  width: 50%;
  padding-right: 20px;
}
.content1 {
  width: 90%;
}
.content1Img {
  height: 400px;
  width: 450px;
}
.input {
  padding: 8px 11px;
  width: 100%;
}
.content5Desc {
  margin-top: 30px;
  width: 50%;
  text-align-last: start;
  margin-left: 15%;
}
.input:focus {
  outline: none;
  box-shadow: #e6f4ff 0px 3px 8px;
  border: 1px solid #0360d9;
  padding: 8px 11px;
}
.contentRight {
  width: 50%;
}
.content1SmallImg {
  width: 100px;
}
.content1btm {
  position: absolute;
  bottom: -70px;
  left: -70px;
}
.content1Top {
  position: absolute;
  top: -30px;
  right: -50px;
}
.content2About {
  width: 80%;
  gap: 50px;
  height: 100%;
  margin-bottom: 70px;
  display: flex;
}
.desc {
  width: 80%;
}
.aboutImg {
  height: 350px;
  width: 400px;
}
.aboutImgContainer {
  width: 50%;
}
.content2Container {
  height: 70vh;
}
.sliderContainer {
  width: 80%;
}
.sliderDesc {
  position: absolute;
  top: 20%;
  right: -200px;
  width: 350px;
}
.sliderDescContainer {
  height: 300px;
  width: 600px;
}
.content3Desc {
  width: 45%;
}
.content4Left {
  width: 50%;
}
.content4Right {
  width: 50%;
  margin-left: 50px;
}
.content4detail {
  width: 280px;
}
.header {
  font-size: 50px;
  font-family: "Rubik", sans-serif;
  word-spacing: 3px;
  color: #1a1a1a;
}
.swiperBullet {
  background-color: #fff;
}
.videoContainer {
  height: 100vh;
}
.profileContainer {
  display: none;
}
.profileCard {
  position: relative;
  width: 220px;
  height: 220px;
  background: #fff;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 0 0 15px #3336;
  transition: 0.6s;
  margin: 25px;
}
.profileCard:hover {
  border-radius: 10px;
  height: 350px;
  width: 300px;
  padding: 30px;
  margin: 50px;
}
.profileCard:hover + .profileName {
  opacity: 0;
}
.profileCard:hover .img {
  transform: translateY(-60px);
}
.img img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  transition: 0.9s;
  object-fit: cover;
}
.profileCard:hover img {
  height: auto;
  border-radius: 10px;
}
.caption {
  transform: translateY(-180px);
  opacity: 0;
  transition: 0.6s;
}
.profileCard:hover .caption {
  opacity: 1;
}
.socialLinks a :hover {
  color: #000080;
}
.content5Header {
  font-size: 34px;
}
.content5Container {
  width: 70%;
}
.imgSwiper {
  width: 60%;
  height: 400px;
}
.Content2Desc {
  margin-top: 70px;
}

@media only screen and (max-width: 992px) {
  .content1Container {
    flex-direction: column;
    gap: 50px;
    padding-bottom: 80px;
  }
  .content1Img {
    margin-left: auto;
    margin-right: auto;
  }
  .content1Left {
    width: 100%;
    padding-right: 0px;
  }
  .content1 {
    width: 80%;
    padding-top: 70px;
  }
  .contentRight {
    width: 100%;
  }
  .sliderDesc {
    top: unset;
    width: 350px;
    left: 20%;
    bottom: -25%;
  }
  .aboutImg {
    height: 350px;
    width: 300px;
  }
  .content2About {
    width: 90%;
  }
  .Content2Desc {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .content2About {
    width: 100%;
    height: 100%;
  }
  .sliderDescContainer {
    width: 80%;
  }
  .content4Left {
    width: 100%;
  }
  .content4Right {
    width: 100%;
    margin-left: 0px;
  }
  .content {
    flex-direction: column;
    gap: 30px;
  }
  .content4detail {
    width: 240px;
  }
  .content5Desc {
    width: 90%;
    margin-left: 5%;
  }
  .content5Container {
    width: 90%;
  }
  .content5Header {
    font-size: 24px;
  }
  .imgSwiper {
    width: 90%;
    height: 300px;
  }
}

@media only screen and (max-width: 600px) {
  .content1Img {
    height: 300px;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }
  .content1SmallImg {
    width: 50px;
  }
  .content1btm {
    display: none;
  }

  .content1Top {
    display: none;
  }
  .content2About {
    width: 80%;
    flex-direction: column;
    gap: 30px;
  }
  .desc {
    width: 100%;
  }
  .aboutImgContainer {
    width: 100%;
  }
  .aboutImg {
    height: 100%;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .content2Container {
    height: 100%;
  }
  .sliderContainer {
    width: 100%;
  }
  .sliderDescContainer {
    height: 330px;
    width: 80%;
    margin-bottom: 200px;
  }
  .sliderDesc {
    top: unset;
    width: 80%;
    left: 10%;
    bottom: -40%;
  }
  .content3Desc {
    width: 80%;
  }
  .content4detailContainer {
    gap: 30px;
  }
  .content4detail {
    width: 100%;
  }
  .aboutHeader {
    display: none;
  }
  .content2About {
    display: none;
  }
  .profileContainer {
    display: flex;
  }
}
